@import '~style/helpers';

.header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	p {
		margin-top: 0px;
		color: #dbdbdb !important;
	}
	a {
		color: #858582;
    	transition: color 0.25s ease;
	}
	a:hover{
		color: black;
	}

	h1 {
		float: left;
		margin: 0;
		padding: 0 15px;
		font-size: 24px;
		line-height: 56px;
		font-weight: 400;
		color: #FFF;
	}

	img {
		float: right;
		height: 30px;
	}
}
